* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #2584ff;
    --color-secondary: #00d9ff;
    --color-accent: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

/* Typography */ 

html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    color: var(--color-body);
    font-size: 2.4rem;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: var(--color-headings);
    margin-bottom: 2rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */

a {
    text-decoration: none;
}

.link-arrow {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-accent);
    text-transform: uppercase;
}

.link-arrow::after {
    content: '-->';
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */

.badge {
    padding: 0.5rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 20px;
    white-space: nowrap;
}

.badge--small {
    font-size: 1.6rem;
}

.badge--primary {
    color: #fff;
    background-color: var(--color-primary);
}

.badge--secondary {
    color: #fff;
    background-color: var(--color-secondary);
}

@media screen and (min-width: 1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/* Lists */

.list {
    color: var(--color-headings);
    list-style: none;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    padding-left: 3rem;
    list-style-image: url(../images/tick.svg);
}

.list--tick .list__item {
    margin-bottom: 1rem;
    padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}